@import url("https://fonts.googleapis.com/css?family=Outfit");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(109, 5, 5, 0.3);
  color: rgba(0, 0, 0, 0.7);
}

.app::before {
  content: "";
  background: url("./assets/sunny-back.avif") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 500px;
  height: 500px;
  margin: auto;
  padding: 0 2rem;
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row-reverse;
}

.app .middle {
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: row;
}

.app .description {
  position: relative;
  right: -30%;
}

img {
  width: 50px;
  height: 50px;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(206, 167, 125, 0.552);
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2px solid rgba(227, 160, 78, 0.7);
  background: rgba(247, 231, 207, 0.7);
  color: rgba(0, 0, 0, 0.7);
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
